
{% url 'home' as home_url %}
{% url 'events' as events_url %}
{% url 'about' as about_url %}
{% url 'resources' as resources_url %}
{% url 'profile' as profile_url %}
{% url 'join' as logout_url %}
{% url 'join' as join_url %}
{% url 'login' as login_url %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">LexPy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == events_url %}active{% endif %}">
        <a class="nav-link" href="#">Events <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == about_url %}active{% endif %}">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == resources_url %}active{% endif %}">
          <a class="nav-link" href="#">Resources </a>
        </li>
        <li class="nav-item {% if request.path == profile_url %}active{% endif %}">
          <a class="nav-link" href="#">Profile </a>
        </li>
        <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
          <a class="nav-link" href="#">Logout </a>
        </li>
      {% else %}
        <li class="nav-item {% if request.path == signup_url %}active{% endif %}">
          <a class="nav-link" href="#">Join </a>
        </li>
        <li class="nav-item {% if request.path == login_url %}active{% endif %}">
          <a class="nav-link" href="#">Login </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
