{% load i18n %}

{% url 'home' as home_url %}
{% url 'events' as meetups_url %}
{% url 'about' as about_url %}
{% url 'resources' as resources_url %}
{% url 'users:detail' request.user.username as profile_url %}
{% url 'account_logout' as logout_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_login' as login_url %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">LexPy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">{% trans "Home " %} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == about_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">{% trans "About " %}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == events_url %}active{% endif %}">
        <a class="nav-link" href="#' %}">{% trans "Events " %}<span class="sr-only">(current)</span></a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == resources_url %}active{% endif %}">
          <a class="nav-link" href="#">{% trans "Resources " %}</a>
        </li>
        <li class="nav-item {% if request.path == profile_url %}active{% endif %}">
          <a class="nav-link" href="{% url 'users:detail' request.user.username %}">{% trans "My Profile" %}</a>
        </li>
        <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout " %}</a>
        </li>

      {% else %}
        <li class="nav-item {% if request.path == signup_url %}active{% endif %}">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item {% if request.path == login_url %}active{% endif %}">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
