
{% url 'home' as home_url %}
{% url 'events' as meetups_url %}
{% url 'about' as about_url %}
{% url 'resources' as resources_url %}
{% url 'join' as join_url %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">LexPy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == meetups_url %}active{% endif %}">
        <a class="nav-link" href="#">Meetups <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == about_url %}active{% endif %}">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == resources_url %}active{% endif %}">
        <a class="nav-link" href="#">Resources <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == join_url %}active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Join </a>
      </li>
    </ul>
  </div>
</nav>
