{% load static %}
{% load i18n compress%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}LexPy{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Lexpy is a group of python beginners, enthusiasts, and professionals who enjoy meeting and discussing various python related topics on a monthly basis.">
    <meta name="author" content="Jim Wombles">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    {% block css %}
    <!-- Third-party CSS libraries go here -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock css %}
    <!-- Custom styles for this template -->
    {# <link href="jumbotron.css" rel="stylesheet"> #}
  </head>

  <body>
    {% include 'base/navbar.html' %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}></div>
      {% endfor %}
    {% endif %}

    <main role="main">
      {% block content %}
        <p>You are viewing the base template text</p>
      {% endblock content %}
    </main>

        {% block modal %}{% endblock modal %}

        {% block footer %}
          <footer class="container">
          <p>&copy; LexPy 2018</p>
          </footer>
        {% endblock footer %}

    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      {% compress js %}
        <script src="{% static 'js/vendors.js' %}"></script>
      {% endcompress %}
      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}

  </body>
</html>
