{% extends "base.html" %}
{% load static i18n %}
{% block title %}LexPy Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Members</h2>
  {% for user in user_list %}
    <ul class="list-unstyled">
      <li class="media">
        {% if user.photo %}
          <img class ="mr-3" src="{{ user.photo.url }}" width="150" alt="Profile Image">
        {% else %}
          <img class ="mr-3" src="https://placekitten.com/150/150" alt="Cat Image">
        {% endif %}
        <div class="media-body">
          <a href="{% url 'users:detail' user.username %}">
            <h4 class="list-group-item-heading">{{ user.username }}</h4>
          </a>
          {% if user.bio %}
          {{ user.bio }}
          {% endif %}
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
{% endblock content %}

