{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
    {% if object.name %}
      <h2>{{ object.name }}</h2>
    {% else %}
      <h2>{{ object.username }}</h2>
    {% endif %}

    {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Edit E-Mail</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    </div>
    <!-- End Action buttons -->
    {% endif %}
    {% if user.photo %}
      <img class ="mr-3" src="{{ user.photo.url }}" width="300" alt="Profile Image">
    {% endif %}
    {% if object.get_domain_display %}
      <p>Python Interest:  {{ object.get_domain_display }}</p>
    {% endif %}
    {% if object.get_experience_display %}
      <p>Python Experience:  {{ object.get_experience_display }}</p>
    {% endif %}
    {% if object.city %}
      <p>City:  {{ object.city }}</p>
    {% endif %}
    {% if object.birthdate %}
      <p>Birthdate:  {{ object.birthdate }}</p>
    {% endif %}
    {% if object.bio %}
      <p>Bio:  {{ object.bio }}</p>
    {% endif %}
    </div>
  </div>

</div>
{% endblock content %}
