{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
    {% if object.name %}
      <h2>{{ object.name }}</h2>
    {% else %}
      <h2>{{ object.username }}</h2>
    {% endif %}

    {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Edit E-Mail</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    </div>
    <!-- End Action buttons -->
    {% endif %}
      {% if object.image %}
      <img src='{{ object.image.url }}' class='img-responsive' />
      {% endif %}
      <p>Python Interest:  {{ object.get_domain_display }}</p>
      <p>Python Experience:  {{ object.get_experience_display }}</p>
      <p>Location:  {{ object.location }}</p>
      <p>Birthdate:  {{ object.birthdate }}</p>
      <p>Bio:  {{ object.bio }}</p>
    </div>
  </div>

</div>
{% endblock content %}

